<section class="p-user-profile">
  <%= render "components/user_header", user: @user %>

  <div class="p-user-profile__content">
    <%= render "components/user_bio", bio: @user.bio %>
    <%= render "components/posts_preview", user: @user, posts: @posts %>
    
    <% if @user == current_user %>
      <%= form_with url: user_posts_path(current_user), method: :post, scope: :user_posts do |form| %>
        <%= form.text_field :title, :required => true, placeholder: "Enter the post title..." %>
        <%= form.text_field :text, :required => true, placeholder: "Enter the post text..." %>

        <%= form.submit value: 'Save post', class:'p-user-profile__post-btn' %>
      <% end %>
    <% end %>
  </div>

</section>